license_ocr_env/
build/

# Log files
*.log

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.egg-info
*.pth
*.pb
*.txt
*.jpg
*.jpeg
*_env

src/licenseplate_ocr/ocr_engine/sr_model_path/*.pb
